
<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>FIND YOUR FLIGHT</strong>
                </h2>
                <hr>
                <table class="search">
                    <tr>
                        <td colspan="6">
                            <strong>From: </strong><select ng-model="search.airportByAirportFromId" ng-options="airport.name for airport in airports track by airport.name" class="form-control" required></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <strong>To: </strong><select ng-model="search.airportByAirportToId" ng-options="airport.name for airport in airports track by airport.name" class="form-control" required></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div ng-controller="Datepicker">
                                <p class="input-group"> 
                                    <input ng-model="search.departure" type="text" id="departureDate" placeholder="Departure date" class="form-control" datepicker-popup="d.M.yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            </p>
                        </td>

                        <td colspan="2">
                            <div ng-controller="Datepicker">
                                <p class="input-group"> 
                                    <input ng-model="search.return" type="text" id="departureReturnDate" placeholder="Return date" class="form-control" datepicker-popup="d.M.yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </td>

                        <td colspan="2">
                            <div>
                                <input type="checkbox" id="returnCheckbox">
                                <label for="returnCheckbox">Return ticket</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">
                                <select id="adultCount" class="form-control">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                        </td>
                        <td style="width: 23%;">
                            <strong>Adults (27+ y.o.)</strong>
                        </td>

                        <td style="width: 10%;">
                                <select id="teenCount" class="form-control">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                        </td>
                        <td style="width: 23%;">
                            <strong>Teens (12-26 y.o.)</strong>
                        </td>

                        <td style="width: 10%;">
                                <select id="childCount" class="form-control">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                        </td>
                        <td style="width: 24%;">
                            <strong>Children (0-11 y.o.)</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select id="childCount" class="form-control">
                                <option value="economy2nd" selected>Economy 2nd class</option>
                                <option value="economy1st">Economy 1st class</option>
                                <option value="business">Business</option>
                            </select>
                        </td>
                        
                        <td colspan="3">
                            <input type="submit" value="Search flights" class="form-control" ng-click="search()">
                        </td>
                    </tr>

                </table>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Project description</strong>
                </h2> 
                <hr>
                Project description...
            </div>
        </div>
    </div>

</div>
<!-- /.container -->